.message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #c8c8c8;
    width: 726px;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 1s ease;
    z-index: 200;
    background-color: white;
    box-shadow: 0 0 5px 4px rgb(0, 0, 0, 0.2);
}

.messageOn {
    opacity: 100;
}

.closeBtn {
    cursor: pointer;
}
