.profileContainer {
    width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.greetings {
    font-size: 32px;
    margin-bottom: 2rem;
}

.title {
    font-size: 24px;
}

.cancelExplanation{
    color: rgb(34, 34, 34, 0.7);
    margin: 4px 0 24px;
}

.imageHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.image {
    width: 100%;
    object-fit: cover;
}

.orderContainer {
    display: grid;
    grid-template-columns: 120px 40% 50px 1fr 1fr 1fr;
    gap: 1rem;
    margin: 4px 0;
}

.orderNum {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.orderListTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.cancelBtn {
    border-radius: 24px;
    background-color: #222222;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.cancelBtn:hover {
    background-color: rgb(34, 34, 34, 0.4);
}

.noOrder {
    height: 350px;
    font-size: 24px;
}
