.explain {
    font-size: 18px;
    letter-spacing: 0.5px;
    color: rgb(34, 34, 34, 0.7);
    margin-bottom: 2rem;
}

.submitBtnContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.createShopBtn {
    margin: 16px 64px;
    border: none;
    padding: 12px 30px;
    background-color: black;
    border-radius: 24px;
    color: white;
}
