.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: rgb(236, 236, 236, 0.5);
    margin: 1rem auto;
    padding: 16px 36px;
}

.loading {
    aspect-ratio: auto 1/1;
    animation: loader 1s infinite;
    font-size: 2rem;
    margin-bottom: 1rem;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
