.profileContainer {
    width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.greetings {
    font-size: 32px;
    margin-bottom: 2rem;
}

.title {
    font-size: 24px;
    margin-bottom: 24px;
}

.imageHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.image {
    width: 100%;
    object-fit: cover;
}

.orderContainerTitle {
    display: grid;
    grid-template-columns: 120px 60% 50px 1fr 1fr;
    gap: 1rem;
    margin: 4px 0;
}

.orderContainer {
    display: grid;
    grid-template-columns: 120px 60% 50px 1fr 1fr;
    gap: 1rem;
    margin: 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.orderContainer:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.orderNum {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.orderListTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 8px;
}
